//Variables
$login-background : #a1a1a1;
$input-width : 400px;
$input-height : 40px;
$purple : rgb(44, 2, 48);
$button-color : rgb(22, 182, 1);

//Styling start
.login-main {
    background-color: $login-background;
}

.form-container {
    width: 500px;
    margin: auto;
    box-sizing: border-box;
    padding: 30px 50px 50px;
    //box-shadow: 1px 2px 5px #717171;
    background: {
        color: $purple;
    }
    margin-top: 150px;
}

.input-design {
    & input {
        width: $input-width;
        height: $input-height;
        box-sizing: border-box;
        padding: 0 10px;
        border: {
            radius: 5px;
            style: solid;
            width: 1px;
            color: #313131;
        }
        font: {
            size: 1.2em;
            family: 'Calibri';
        }
    }
}

#login-button {
    width: $input-width;
    height: $input-height;
    background-color: $button-color;
    border: {
        radius: 2px;
        style: solid;
        width: 2px;
        color: #f1f1f1;
    }
    color : white;
}

.admin {
    &-left-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height:100%;
        background-color: $purple;

        &-menu > ul li a:hover {
            background-color: #a1a1a1;
        }
    }

    &-content-area {
        box-sizing: border-box;
        margin-left: 250px;
        //padding: 10px;
    }

    &-header {
        padding: 5px 10px;
        height: 40px;
        background-color: #161616;
        color: white;
    }
    
}

/*Custom Fonts*/
@font-face {
    font-family: airstrip;
    src: url("../../fonts/airstrip/airstrip.ttf");
}

@font-face {
    font-family: jaapokki;
    src: url("../../fonts/jaapokki/jaapokki-regular.svg");
    src: url("../../fonts/jaapokki/jaapokki-regular.eot");
    src: url("../../fonts/jaapokki/jaapokki-regular.ttf");
    src: url("../../fonts/jaapokki/jaapokki-regular.woff");
}
/*End of Custom Fonts*/